@model raupjc_obg.Models.ContentViewModels.GameViewModel
@{
    ViewData["Title"] = "Game";
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>

<div class="row">
    <div class="col-md-4">
        <h4>Events</h4>
        @foreach (var e in Model.Events.Split('\n'))
        {
            <a asp-action="Event" asp-route-name="@e" class="btn btn-default">@e</a><br />
        }
        <br />

        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#new-event">New Event</button>
        <div id="new-event" class="collapse">
            <form asp-action="Event" method="post">
                <input type="hidden" name="GameName" value="@Model.Name"/>

                <div class="form-group">
                    <label>Name:</label>
                    <input class="form-control" type="text" name="Name" />
                </div>

                <div class="form-group">
                    <label>Description:</label>
                    <input class="form-control" type="text" name="Description" />
                </div>

                <div align="right">
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </form>
        </div>

    </div>

    <div class="col-md-4">
        <h4>Items</h4>
        @foreach (var i in Model.Items.Split('\n'))
        {
            <a asp-action="Item" asp-route-name="@i" class="btn btn-default">@i</a><br />
        }
        <br />

        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#new-item">New Item</button>
        <div id="new-item" class="collapse">
            <form asp-action="Item" method="post">
                <input type="hidden" name="GameName" value="@Model.Name" />

                <div class="form-group">
                    <label>Name:</label>
                    <input class="form-control" type="text" name="Name" />
                </div>

                <div class="form-group">
                    <label>Description:</label>
                    <input class="form-control" type="text" name="Description" />
                </div>

                <div align="right">
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </form>
        </div>

    </div>

    <div class="col-md-offset-1 col-md-3">
        @await Html.PartialAsync("_Dependencies", Model)
    </div>


</div>
